
.footer ul{
    list-style-type: none;
    /* display:inline; */
    z-index:10;
    background-color: black;
    padding:30px;

}

.footer li a{
    color:white;
    padding:4px;
    text-decoration: none;
}
li a:hover{
    color:grey;
}

.footer ul{
    text-align:center;
    color:black;
}